PORT=5500
MONGODB_URL=mongodb://localhost:port/db_name

CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secrete

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=mail_trap_user_name
MAIL_PASSWORD=mail_trap_password

JWT_SECRET=jwt_secrete_key

GOOGLE_AUTH_APP_ID='appi_id'
GOOGLE_AUTH_APP_SECRET='app_secrete'
GOOGLE_AUTH_APP_CALLBACK='http://localhost:5500//auth/google-callback'