.blog-cover {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 0% 0%;
}

.blog-card {
  height: 100%;
  box-shadow: 2px 2px 4px 1px rgba(222, 222, 222, 1);
}

.blog-link {
  text-decoration: none;
  color: inherit;
}

.blog-desc {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-title {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
